# Node
node_modules/
npm-debug.log*

# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo

# Environment variables
.env
frontend/.env
backend/.env
ai/.env

# Build folders
dist/
build/

# Logs
logs/
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db